<html>
	<head>
		<title>New Contact Saved</title>
	</head>
	<body>
		<h1>You saved a new contact to your adress book</h1>
		<p>{{ new_contact.getName }}</p>
		<ul>
			<li><p>{{ new_contact.getPhone }}</p></li>
			<li><p>{{ new_contact.getAddress }}</p></li>
			<form action="/">
				<button type="submit" class="btn">View Your Address Book</button>
			</form>
		</ul>
	</body>
</html>